extends basic-layout 

block main

    div(id='toolbar')
        div(id='toolbar-buttons')
            a(class='button' href='#new-certificate-modal') Nouveau certificat
        div(id='toolbar-search-box')
            span 🔍
            input(id='search-field' type='search')
            span(id='search-count') #{certificates.length}

    div(id='list-certificates-content' class='content')
        table.sortable-table
            thead
                tr
                    th Alias
                    th CBE du signataire
                    th SSIN du signataire
                    th Subject DN
                    th(class='th-sort-desc') Fin de validité
            tbody
                if certificates.length > 0
                    each certificate in certificates
                        tr(class='clickable-item searchable-item' data-link=('/sepia-admin/certificates/' + certificate._id))
                            td= certificate.alias
                            td= certificate.signer_cbe
                            td= (certificate.signer_ssin != undefined ? certificate.signer_ssin : '')
                            td= certificate.subject_dn
                            - let validToValue = (certificate.valid_to != undefined ? certificate.valid_to.toISOString().substring(0, 10) : undefined)
                            td(data-value=validToValue)= (certificate.valid_to != undefined ? certificate.valid_to.toLocaleDateString('fr') : '')
                else
                    tr
                        td(colspan='11') Aucun certificat trouvé

    div(id='modals')
        div(id='new-certificate-modal' class='modal')
            form(method='POST' action='/sepia-admin/certificates')
                h1 Nouveau certificat
                    a(class='button' href='#') ✖
                div(class='row')
                    div(class='column')
                        label Alias du certificat
                            input(name='alias' type='text' size='20' required)
                        label CBE du signataire
                            input(name='signer_cbe' type='text' size='10' required)
                        label SSIN du signataire (optionnel)
                            input(name='signer_ssin' type='text' size='11')
                        label Commentaire (optionnel)
                            textarea(name='comment' rows='3')
                    div(class='column')
                        fieldset
                            legend Données du certificat
                            label CN
                                input(name='subject_cn' type='text' size='16' required)
                            label O
                                input(name='subject_o' type='text' size='16' required)
                            label OU
                                input(name='subject_ou' type='text' size='16' required)
                            label C
                                input(name='subject_c' type='text' size='2' required)
                
                button(type='submit') Ajouter
