extends basic-layout 

block main

    div.card
        div.card-header
            div.card-header-left
                a.button(href='#new-signing-right-modal') Ajouter un droit
                a.button(href='#import-signing-rights-modal') Import CSV
            div.card-header-right
                div.search-box
                    span 🔍
                    input#search-field(type='search' size='14')
                    span#search-count= signingRights.length
        table.sortable-table
            thead
                tr
                    th(class='th-sort-desc') CBE du signataire
                    th SSIN du signataire
                    th Sujet du document
                    th Classification du document
                    th Alias du Certificat
            tbody
                if signingRights.length > 0
                    each signingRight in signingRights
                        tr.clickable-item.searchable-item(data-link=('/sepia-admin/signing-rights/' + signingRight._id))
                            td= signingRight.signer_cbe
                            td= signingRight.signer_ssin
                            td= signingRight.document_subject
                            td= signingRight.document_classification
                            td= signingRight.certificate_alias
                else
                    tr
                        td(colspan='5') Aucun droit de signature trouvé

    div#modals
        div#new-signing-right-modal
            div.card
                div.card-header
                    div.card-header-left
                        h1 Nouveau droit de signature
                    div.card-header-right
                        a.button(href='#') ✖
                form(method='POST' action='/sepia-admin/signing-rights')
                    label CBE du signataire
                        input(name='signer_cbe' type='text' size='10' required)
                    label SSIN du signataire (optionnel)
                        input(name='signer_ssin' type='text' size='11')
                    label Sujet du document
                        input(name='document_subject' type='text' size='20' required)
                    label Classification du document
                        input(name='document_classification' type='text' size='20' required)
                    label Alias du Certificat (optionnel)
                        input(name='certificate_alias' type='text')
                    button.center(type='submit') Ajouter
        div#import-signing-rights-modal
            div.card
                div.card-header
                    div.card-header-left
                        h1 Charger un fichier CSV
                    div.card-header-right
                        a.button(href='#') ✖
                form(method='POST' enctype='multipart/form-data' action='/sepia-admin/signing-rights-upload')
                    span Avant de charger le fichier, veuillez vérifier les points suivants :
                    span - La première ligne du fichier doit être la ligne avec les intitulés des colonnes.
                    span - Retirez toutes les lignes précèdemment importées (pour éviter les doublons)
                    label Fichier
                        input(id='csv' name='csv' type='file' accept='.csv')
                    button.center(type='submit') Charger