extends basic-layout 

block main
    div(class='content')
        form(method='POST' action='')
            h1 Édition d'un droit de signature
            label CBE du signataire
                input(name='signer_cbe' type='text' size='10' required value=signingRight.signer_cbe)
            label SSIN du signataire (optionnel)
                input(name='signer_ssin' type='text' size='11' value=signingRight.signer_ssin)
            label Sujet du document
                input(name='document_subject' type='text' size='20' required value=signingRight.document_subject)
            label Classification du document
                input(name='document_classification' type='text' size='20' required value=signingRight.document_classification)
            label Alias du Certificat (optionnel)
                input(name='certificate_alias' type='text' value=signingRight.certificate_alias)
            button(type='submit') Enregistrer les modifications
        form()
            button.delete-button Supprimer ce droit de signature