extends basic-layout

block main

    div.card
        div.card-header
            div.card-header-left
                h1 Édition d'un certificat
            div.card-header-right
                a.button(href='.') ⬅
                a.button(href='#delete-modal') 🗑
        form(method='POST' action='' autocomplete='off')
            label Alias du certificat
                input(name='alias' type='text' size='20' required value=certificate.alias)
            label CBE du signataire
                input(name='signer_cbe' type='text' size='10' required value=certificate.signer_cbe)
            label SSIN du signataire (optionnel)
                input(name='signer_ssin' type='text' size='11' value=certificate.signer_ssin)
            label Subject DN du certificat
                input(name='subject_dn' type='text' size='30' disabled value=certificate.subject_dn)
            label Commentaire (optionnel)
                textarea(name='comment' rows='3') #{certificate.comment}
            button.center(type='submit') Enregistrer les modifications
            
    div#modals
        div#delete-modal
            div.card
                div.card-header
                    div.card-header-left
                        h1 Confirmer la suppression
                    div.card-header-right
                        a.button(href='#') ✖
            form
                span Êtes-vous sûr ?
                div.row
                    button.delete-button Oui
                    a.button(href='#') Non
