extends basic-layout

block main
    div(class='content')
        form(method='POST' action='' autocomplete='off')
            h1
                span Édition d'un certificat
                a(class='button' href='.') ⬅
                a(class='button' href='#delete-modal') 🗑
            label Alias du certificat
                input(name='alias' type='text' size='20' required value=certificate.alias)
            label CBE du signataire
                input(name='signer_cbe' type='text' size='10' required value=certificate.signer_cbe)
            label SSIN du signataire (optionnel)
                input(name='signer_ssin' type='text' size='11' value=certificate.signer_ssin)
            label Subject DN du certificat
                input(name='subject_dn' type='text' size='30' disabled value=certificate.subject_dn)
            label Commentaire (optionnel)
                textarea(name='comment' rows='3') #{certificate.comment}
            button(type='submit') Enregistrer les modifications
    div(id='modals')
        div(id='delete-modal' class='modal')
            form
                h1
                    span Confirmer la suppression
                    a(class='button' href='#') ✖
                span Êtes-vous sûr ?
                div(class='row')
                    button.delete-button Oui
                    a(class='button' href='#') Non
